# Amass
AMASS_API_KEY=

# LiteLLM
LITELLM_BASE_URL=
LITELLM_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Google
GOOGLE_GENERATIVE_AI_API_KEY=

# Model
MODEL=
# Examples:
# MODEL=litellm:gpt-4.1-mini
# MODEL=anthropic:claude-3-7-sonnet
# MODEL=openai:gpt-5
# MODEL=google:gemini-2.5-flash
